/* table css  */

.container-table {
  width: 100%;
  overflow-x: auto;
  padding: 1em;
}

table {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  color: var(--blanco);
  text-align: center;
}

table,
td,
th,
.add-table {
  border: 0.5px solid var(--gris);
}

td,
th,
.add-table {
  padding: 1vh;
}

.image-table {
  width: 4vh;
  height: 4vh;
}

.image-table,
.image-rounded-table {
  object-fit: cover;
}

.image-rounded-table {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  padding: 0.5vh;
}

.add-table {
  padding: 0 0.5em;
  margin: 2vh 0 2vh 0;
  font-size: 6vh;
}

.status-green,
.status-red,
.status-yellow {
  width: 4vh;
  height: 4vh;
  padding: 0.5em;
  border-radius: 50%;
}

.status-yellow {
  background: var(--amarillo);
  color: var(--amarillo);
}

.status-red {
  background: var(--red);
  color: var(--red);
}

.status-green {
  background: var(--green);
  color: var(--green);
}
